<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-init-method="myInit" default-destroy-method="cleanUp">

	<!-- Provide the Value to bean -->
	<bean id="triangle" class="learning.spring.Triangle">
		<property name="type" value="Equilateral" />
	</bean>

	<!-- Provide the constructor args -->
	<bean id="circle" class="learning.spring.Circle">
		<constructor-arg value="Big" />
	</bean>

	<!-- Provide type to the values to the constructor args -->
	<bean id="circle1" class="learning.spring.Circle">
		<constructor-arg type="java.lang.String" value="Big" />
		<constructor-arg type="int" value="20" />
	</bean>

	<!-- Constructor value index -->
	<bean id="rectangle" class="learning.spring.Rectangle">
		<constructor-arg index="0" value="Smart" />
		<constructor-arg index="1" value="10" />
	</bean>

	<!-- Reference Beans -->
	<bean id="advtriangle" class="learning.spring.AdvanceTriangle">
		<property name="pointA" ref="zeropoint" />
		<property name="pointB" ref="firstpoint" />
		<property name="pointC" ref="secondpoint" />
	</bean>

	<bean id="zeropoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="firstpoint" class="learning.spring.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="secondpoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<!-- Inner Bean fourtpoint -->
	<bean id="advcircle" class="learning.spring.AdvanceCircle">
		<property name="pointP" ref="thirdpoint" />
		<property name="pointQ">
			<bean class="learning.spring.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointR" ref="fifthpoint" />
	</bean>

	<bean id="thirdpoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="fifthpoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<!-- Alias of bean -->
	<alias name="rectangle" alias="rectangle-alias" />

	<!-- Initializing Collections -->
	<bean id="advtriangle1" class="learning.spring.collections.AdvanceTriangle">
		<property name="points">
			<list>
				<ref bean="zeropoint1" />
				<ref bean="firstpoint1" />
				<ref bean="secondpoint1" />
			</list>
		</property>
	</bean>

	<bean id="zeropoint1" class="learning.spring.collections.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="firstpoint1" class="learning.spring.collections.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="secondpoint1" class="learning.spring.collections.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<!-- Autowiring Concept ByName -->
	<bean id="advtriangle2"
		class="learning.spring.autowiring.byNameConcept.AdvanceTriangle"
		autowire="byName">
	</bean>

	<bean id="pointX" class="learning.spring.autowiring.byNameConcept.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointY" class="learning.spring.autowiring.byNameConcept.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointZ" class="learning.spring.autowiring.byNameConcept.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>


	<!-- Autowiring Concept ByType -->
	<bean id="advtriangle3"
		class="learning.spring.autowiring.byTypeConcept.AdvanceTriangle"
		autowire="byType">
	</bean>

	<bean id="point" class="learning.spring.autowiring.byTypeConcept.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>


	<!-- Autowiring Concept Constructor -->
	<bean id="advtriangle4"
		class="learning.spring.autowiring.byConstructorConcept.AdvanceTriangle"
		autowire="constructor">
	</bean>

	<bean id="pointT" class="learning.spring.autowiring.byConstructorConcept.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Scopes Singleton -->
	<bean id="advtriangle5" class="learning.spring.beanScopes.AdvanceTriangle"
		scope="singleton">
		<property name="pointP" ref="pointP"></property>
	</bean>

	<bean id="pointP" class="learning.spring.beanScopes.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Scopes Prototype -->
	<bean id="advtriangle6" class="learning.spring.beanScopes.AdvanceTriangle"
		scope="prototype">
		<property name="pointP" ref="pointP1"></property>
	</bean>

	<bean id="pointP1" class="learning.spring.beanScopes.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Scopes Application Context Aware -->
	<bean id="advtriangle7" class="learning.spring.applicationContextAware.AdvanceTriangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>

	<bean id="pointA" class="learning.spring.applicationContextAware.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointB" class="learning.spring.applicationContextAware.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointC" class="learning.spring.applicationContextAware.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Inheritance -->

	<bean id="parentTriangle" class="learning.spring.inheritance.AdvanceTriangle">
		<property name="pointA" ref="pointAA"></property>
	</bean>
	<bean id="advtriangle8_1" class="learning.spring.inheritance.AdvanceTriangle"
		parent="parentTriangle">
		<property name="pointB" ref="pointBB"></property>
		<property name="pointC" ref="pointCC"></property>
	</bean>

	<bean id="advtriangle8_2" class="learning.spring.inheritance.AdvanceTriangle"
		parent="advtriangle8_1">
		<property name="pointB" ref="pointBB"></property>
	</bean>

	<bean id="pointAA" class="learning.spring.inheritance.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointBB" class="learning.spring.inheritance.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointCC" class="learning.spring.inheritance.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Inheritance of List and Merge-->

	<bean id="parentTriangle1" class="learning.spring.inheritance.abstraction.AdvanceTriangle" abstract="true">
		<property name="pointss">
			<list>
				<ref bean = "pointAAA" />
			</list>
		</property>
	</bean>
	<bean id="advtriangle9_1" class="learning.spring.inheritance.abstraction.AdvanceTriangle"
		parent="parentTriangle1">
		<property name="pointss">
			<list merge="true">
				<ref bean = "pointBBB" />
			</list>
		</property>
	</bean>

	<bean id="advtriangle9_2" class="learning.spring.inheritance.abstraction.AdvanceTriangle"
		parent="parentTriangle1">
		<property name="pointss">
			<list merge="true">
				<ref bean = "pointCCC" />
			</list>
		</property>
	</bean>

	<bean id="pointAAA" class="learning.spring.inheritance.abstraction.Point">
		<property name="x" value="10" />
		<property name="y" value="20" />
	</bean>
	
	<bean id="pointBBB" class="learning.spring.inheritance.abstraction.Point">
		<property name="x" value="30" />
		<property name="y" value="40" />
	</bean>
	
	<bean id="pointCCC" class="learning.spring.inheritance.abstraction.Point">
		<property name="x" value="50" />
		<property name="y" value="60" />
	</bean>
	
	<!-- Bean Life Cycle -->
	<bean id="advtriangle10" class="learning.spring.lifecycle.AdvanceTriangle" init-method="myInit" destroy-method="cleanUp">
		<property name="pointA" ref="pointAAAA"></property>
		<property name="pointB" ref="pointBBBB"></property>
		<property name="pointC" ref="pointCCCC"></property>
	</bean>

	<bean id="pointAAAA" class="learning.spring.lifecycle.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointBBBB" class="learning.spring.lifecycle.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointCCCC" class="learning.spring.lifecycle.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	
	<!-- Bean Post Processor -->
	<bean id="advtriangle11" class="learning.spring.beanPostProcessor.AdvanceTriangle">
		<property name="pointA" ref="pointAAAAA"></property>
		<property name="pointB" ref="pointBBBBB"></property>
		<property name="pointC" ref="pointCCCCC"></property>
	</bean>

	<bean id="pointAAAAA" class="learning.spring.beanPostProcessor.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointBBBBB" class="learning.spring.beanPostProcessor.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointCCCCC" class="learning.spring.beanPostProcessor.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	
	<bean class="learning.spring.beanPostProcessor.DisplayNameBeanPostProcessor"/>
	
	<!-- Bean Factory Post Processor and Place holder -->
	<bean id="advtriangle12" class="learning.spring.beanFactoryPostProcessor.AdvanceTriangle">
		<property name="pointA" ref="pointAAAAAA"></property>
		<property name="pointB" ref="pointBBBBBB"></property>
		<property name="pointC" ref="pointCCCCCC"></property>
	</bean>

	<bean id="pointAAAAAA" class="learning.spring.beanFactoryPostProcessor.Point">
		<property name="x" value="${pointA.pointX}" />
		<property name="y" value="${pointA.pointY}" />
	</bean>
	<bean id="pointBBBBBB" class="learning.spring.beanFactoryPostProcessor.Point">
		<property name="x" value="${pointB.pointX}" />
		<property name="y" value="${pointB.pointY}" />
	</bean>
	<bean id="pointCCCCCC" class="learning.spring.beanFactoryPostProcessor.Point">
		<property name="x" value="${pointC.pointX}" />
		<property name="y" value="${pointC.pointY}" />
	</bean>
	
	<bean class="learning.spring.beanFactoryPostProcessor.MyBeanFactoryPP"/>
	<bean class= "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointConfig.properties"/>
	</bean>
	
	<!-- Code To Interface -->
	<bean id="advtriangle13" class="learning.spring.codingToInterface.AdvanceTriangle">
		<property name="pointA" ref="pointAAAAAAA"></property>
		<property name="pointB" ref="pointBBBBBBB"></property>
		<property name="pointC" ref="pointCCCCCCC"></property>
	</bean>

	<bean id="pointAAAAAAA" class="learning.spring.codingToInterface.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointBBBBBBB" class="learning.spring.codingToInterface.Point">
		<property name="x" value="1" />
		<property name="y" value="1" />
	</bean>
	<bean id="pointCCCCCCC" class="learning.spring.codingToInterface.Point">
		<property name="x" value="2" />
		<property name="y" value="2" />
	</bean>
	
	<bean id="advtriangle14" class="learning.spring.codingToInterface.AdvanceCircle">
		<property name="pointA" ref="pointAAAAAAAA"></property>
	</bean>

	<bean id="pointAAAAAAAA" class="learning.spring.codingToInterface.Point">
		<property name="x" value="3" />
		<property name="y" value="3" />
	</bean>
	
	<!-- Required Annotation -->
	<bean id="advtriangle15" class="learning.spring.annotations.required.AdvanceTriangle">
		<property name="pointA" ref="pointAAAAAAAAA"></property>
		<property name="pointB" ref="pointBBBBBBBB"></property>
		<property name="pointC" ref="pointCCCCCCCC"></property>
	</bean>

	<bean id="pointAAAAAAAAA" class="learning.spring.annotations.required.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointBBBBBBBB" class="learning.spring.annotations.required.Point">
		<property name="x" value="1" />
		<property name="y" value="1" />
	</bean>
	<bean id="pointCCCCCCCC" class="learning.spring.annotations.required.Point">
		<property name="x" value="2" />
		<property name="y" value="2" />
	</bean>
	
	<!-- <bean id="advtriangle16" class="learning.spring.annotations.required.AdvanceCircle">
		<property name="pointA"></property>
	</bean>
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotaionBeanPostProcessor"></bean> -->
	
	<!-- Autowired Annotation -->
	<!-- <bean id="advtriangle17" class="learning.spring.annotations.autowired.AdvanceTriangle">
		<property name="pointA" ref="pointAAAAAAAAAA"></property>
		<property name="pointB" ref="pointBBBBBBBBB"></property>
		<property name="pointC" ref="pointCCCCCCCCC"></property>
	</bean>

	<bean id="pointAAAAAAAAAA" class="learning.spring.annotations.autowired.Point">
		<property name="x" value="00" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointBBBBBBBBB" class="learning.spring.annotations.autowired.Point">
		<property name="x" value="11" />
		<property name="y" value="1" />
	</bean>
	<bean id="pointCCCCCCCCC" class="learning.spring.annotations.autowired.Point">
		<property name="x" value="22" />
		<property name="y" value="2" />
	</bean> -->
	
	<bean id="advtriangle18" class="learning.spring.annotations.autowired.AdvanceCircle"/>
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotaionBeanPostProcessor"></bean>
</beans>