<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<!-- Provide the Value to bean -->
	<bean id="triangle" class="learning.spring.Triangle">
		<property name="type" value="Equilateral" />
	</bean>

	<!-- Provide the constructor args -->
	<bean id="circle" class="learning.spring.Circle">
		<constructor-arg value="Big" />
	</bean>

	<!-- Provide type to the values to the constructor args -->
	<bean id="circle1" class="learning.spring.Circle">
		<constructor-arg type="java.lang.String" value="Big" />
		<constructor-arg type="int" value="20" />
	</bean>

	<!-- Constructor value index -->
	<bean id="rectangle" class="learning.spring.Rectangle">
		<constructor-arg index="0" value="Smart" />
		<constructor-arg index="1" value="10" />
	</bean>

	<!-- Reference Beans -->
	<bean id="advtriangle" class="learning.spring.AdvanceTriangle">
		<property name="pointA" ref="zeropoint" />
		<property name="pointB" ref="firstpoint" />
		<property name="pointC" ref="secondpoint" />
	</bean>

	<bean id="zeropoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="firstpoint" class="learning.spring.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="secondpoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<!-- Inner Bean fourtpoint -->
	<bean id="advcircle" class="learning.spring.AdvanceCircle">
		<property name="pointP" ref="thirdpoint" />
		<property name="pointQ">
			<bean class="learning.spring.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointR" ref="fifthpoint" />
	</bean>

	<bean id="thirdpoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="fifthpoint" class="learning.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<!-- Alias of bean -->
	<alias name="rectangle" alias="rectangle-alias" />

	<!-- Initializing Collections -->
	<bean id="advtriangle1" class="learning.spring.collections.AdvanceTriangle">
		<property name="points">
			<list>
				<ref bean="zeropoint1" />
				<ref bean="firstpoint1" />
				<ref bean="secondpoint1" />
			</list>
		</property>
	</bean>

	<bean id="zeropoint1" class="learning.spring.collections.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="firstpoint1" class="learning.spring.collections.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="secondpoint1" class="learning.spring.collections.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>

	<!-- Autowiring Concept ByName -->
	<bean id="advtriangle2"
		class="learning.spring.autowiring.byNameConcept.AdvanceTriangle"
		autowire="byName">
	</bean>

	<bean id="pointX" class="learning.spring.autowiring.byNameConcept.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointY" class="learning.spring.autowiring.byNameConcept.Point">
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointZ" class="learning.spring.autowiring.byNameConcept.Point">
		<property name="x" value="0" />
		<property name="y" value="20" />
	</bean>


	<!-- Autowiring Concept ByType -->
	<bean id="advtriangle3"
		class="learning.spring.autowiring.byTypeConcept.AdvanceTriangle"
		autowire="byType">
	</bean>

	<bean id="point" class="learning.spring.autowiring.byTypeConcept.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>


	<!-- Autowiring Concept Constructor -->
	<bean id="advtriangle4"
		class="learning.spring.autowiring.byConstructorConcept.AdvanceTriangle"
		autowire="constructor">
	</bean>

	<bean id="pointT" class="learning.spring.autowiring.byConstructorConcept.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Scopes Singleton -->
	<bean id="advtriangle5" class="learning.spring.beanScopes.AdvanceTriangle"
		scope="singleton">
		<property name="pointP" ref="pointP"></property>
	</bean>

	<bean id="pointP" class="learning.spring.beanScopes.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Scopes Prototype -->
	<bean id="advtriangle6" class="learning.spring.beanScopes.AdvanceTriangle"
		scope="prototype">
		<property name="pointP" ref="pointP1"></property>
	</bean>

	<bean id="pointP1" class="learning.spring.beanScopes.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Scopes Application Context Aware -->
	<bean id="advtriangle7" class="learning.spring.applicationContextAware.AdvanceTriangle">
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>

	<bean id="pointA" class="learning.spring.applicationContextAware.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointB" class="learning.spring.applicationContextAware.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointC" class="learning.spring.applicationContextAware.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Inheritance -->

	<bean id="parentTriangle" class="learning.spring.inheritance.AdvanceTriangle">
		<property name="pointA" ref="pointAA"></property>
	</bean>
	<bean id="advtriangle8_1" class="learning.spring.inheritance.AdvanceTriangle"
		parent="parentTriangle">
		<property name="pointB" ref="pointBB"></property>
		<property name="pointC" ref="pointCC"></property>
	</bean>

	<bean id="advtriangle8_2" class="learning.spring.inheritance.AdvanceTriangle"
		parent="advtriangle8_1">
		<property name="pointB" ref="pointBB"></property>
	</bean>

	<bean id="pointAA" class="learning.spring.inheritance.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointBB" class="learning.spring.inheritance.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointCC" class="learning.spring.inheritance.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>

	<!-- Bean Inheritance of List and Merge-->

	<bean id="parentTriangle1" class="learning.spring.inheritance.abstraction.AdvanceTriangle" abstract="true">
		<property name="pointss">
			<list>
				<ref bean = "pointAAA" />
			</list>
		</property>
	</bean>
	<bean id="advtriangle9_1" class="learning.spring.inheritance.abstraction.AdvanceTriangle"
		parent="parentTriangle1">
		<property name="pointss">
			<list merge="true">
				<ref bean = "pointBBB" />
			</list>
		</property>
	</bean>

	<bean id="advtriangle9_2" class="learning.spring.inheritance.abstraction.AdvanceTriangle"
		parent="parentTriangle1">
		<property name="pointss">
			<list merge="true">
				<ref bean = "pointCCC" />
			</list>
		</property>
	</bean>

	<bean id="pointAAA" class="learning.spring.inheritance.abstraction.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointBBB" class="learning.spring.inheritance.abstraction.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
	<bean id="pointCCC" class="learning.spring.inheritance.abstraction.Point">
		<property name="x" value="20" />
		<property name="y" value="40" />
	</bean>
</beans>